/*...similar changes for other css classes...*/

.mi-container-fluido {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.mi-fila {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/*...similar changes for other css classes...*/

.bg-primario {
  background-color: #FFD333 !important;
}

.bg-secundario {
  background-color: #F5F5F5 !important;
}

.bg-ligero {
  background-color: #FFFFFF !important;
}

.bg-oscuro {
  background-color: #3D464D !important;
}

.d-ninguno {
  display: none !important;
}

@media (min-width: 992px) {
  .d-lg-bloque {
    display: block !important;
  }

  .d-lg-flex {
    display: flex !important;
  }
}

.alinear-items-centro {
  align-items: center !important;
}

/*...similar changes for other css classes...*/

.texto-derecha {
  text-align: right !important;
}

.texto-mayusculas {
  text-transform: uppercase !important;
}

.texto-primario {
  color: #FFD333 !important;
}

.texto-oscuro {
  color: #3D464D !important;
}

.texto-sin-decoracion {
  text-decoration: none !important;
}

/*...similar changes for other css classes...*/
