# Ignora los archivos de configuración local
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Ignora los archivos de la base de datos
db.sqlite3
*.sqlite3-journal

# Ignora los archivos del sistema
.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
