{% load static %}

  <!-- Footer Start -->
  <div class="container-fluid bg-dark text-secondary mt-1 pt-3">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <h5 class="text-secondary text-uppercase mb-4">Contacta con nosotros</h5>
            <p class="mb-4 text-justify">¿Tienes algun artículo que ofrecer? ¿Tienes dudas? ¡Puedes hablar con nosotros y contarnos más! Estaremos encantados de ayudarte. </p>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>C/ Travesia Taronja, Caldes de Malavella, Girona.</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@sibaris.com</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+34 641 641 641</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">Enlaces de interés</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Inicio</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Tienda</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Pedidos y Transporte</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>RGPD</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Terminos y Condiciones</a>
                    </div>
                </div>

                <div class="col-md-6 mb-5 pr-5">
                    <h5 class="text-secondary text-uppercase mb-4">Newsletter</h5>
                    <p class="text-justify">¿Aún no estás dado de alta a nuestra Newsletter? Déjanos tu email para estar al dia de las novedades</p>
                    <form action="">
                        <div class="input-group" style="max-width: 300px;">
                            <input type="text" class="form-control" placeholder="Tu mejor email...">
                            <div class="input-group-append">
                                <button class="btn btn-primary">Acceder</button>
                            </div>
                        </div>
                    </form>
                    <h6 class="text-secondary text-uppercase mt-4 mb-3">Síguenos en redes</h6>
                    <div class="d-flex">
                        <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-secondary">
                &copy; <a class="text-primary" href="#">www.sibaris.com</a>. Todos los derechos reservados. Diseñado por
                <a class="text-primary" href="https://htmlcodex.com">Pactardy Ventures</a>
        </div>
        <div class="col-md-6 px-xl-0 text-center text-md-right">
            <img class="img-fluid" src="{% static 'img/payments.png'%}" alt="">
        </div>
    </div>
</div>
<!-- Footer End -->