{% load static %}




<link href="{% static 'css/frontend/topbar.css' %}" rel="stylesheet"/>
<!-- Topbar Start -->
<div class="mi-container-fluido">
  <div class="mi-fila py-1 bg-secundario px-xl-5">
    <div class="mi-col-lg-6 d-ninguno d-lg-bloque">
    </div>
  </div>
  <div class="mi-fila alinear-items-centro bg-ligero py-3 px-xl-5 d-ninguno d-lg-flex">
    <div class="mi-col-lg-4">
      <a class="texto-sin-decoracion" href="">
        <span class="h1 texto-mayusculas texto-primario bg-oscuro px-2">SIBA</span>
        <span class="h1 texto-mayusculas texto-oscuro bg-primario px-2 ml-n1">RIS</span>
      </a>
    </div>
    <div class="mi-col-lg-4 col-6 texto-derecha ml-auto">
      <p class="m-0">Atención Cliente</p>
      <h5 class="m-0 h5">641 641 641</h5>
    </div>
  </div>
</div>


<!-- Topbar End -->

