{% load static %}


<!-- todos los css correspondientes para este topbar-->
<style>


</style>





<!-- Topbar Start -->
<div class="container-fluid-topbar">
<div class="row-topbar py-1-topbar bg-secondary-topbar px-xl-5-topbar">
<div class="col-lg-6-topbar d-none-topbar d-lg-block-topbar">
</div>
</div>
<div class="row-topbar align-items-center-topbar bg-light-topbarpy-3-topbar px-xl-5-topbar d-none-topbar d-lg-flex-topbar">
<div class="col-lg-4-topbar">
<a class="text-decoration-none-topbar" href="">
<span class="h1-topbar text-uppercase-topbar text-primary-topbar bg-dark-topbar px-2-topbar">SIBA</span>
<span class="h1-topbar text-uppercase-topbar text-dark-topbar bg-primary-topbar px-2-topbar ml-n1-topbar">RIS</span>
</a>
</div>
<div class="col-lg-4-topbar col-6-topbar text-right-topbar ml-auto-topbar">
<p class="m-0-topbar">Atención Cliente</p>
<h5 class="m-0-topbar h5-topbar">641 641 641</h5>
</div>
</div>
</div>

<!-- Topbar End -->

<!-- todos los js correspondientes para este topbar-->
<script>


</script>