{% load static %}

    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-1 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
            </div>
 
        </div>
        <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
            <div class="col-lg-4">
                <a href="" class="text-decoration-none">
                    <span class="h1 text-uppercase text-primary bg-dark px-2">SIBA</span>
                    <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">RIS</span>
                </a>
            </div>
        
            <div class="col-lg-4 col-6 text-right ml-auto">
                <p class="m-0">Atención Cliente</p>
                <h5 class="m-0">641 641 641</h5>
            </div>
        </div>
        
        </div>
    </div>
    <!-- Topbar End -->
