{% extends "frontend/base.html" %}
{% load static %}

<!-- <link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/css/bootstrap.min.css" rel="stylesheet">
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/css/css-descripcionproducto.css" rel="stylesheet">
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/lib/animate/animate.min.css" rel="stylesheet">
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/css/footer.css" rel="stylesheet">
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/css/navbar.css" rel="stylesheet">
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/css/popup.css" rel="stylesheet"/>
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/css/login/login.css" rel="stylesheet"/>
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/css/usuario/usuario.css" rel="stylesheet"/>
  -->
    
{% block content %}

    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">

            {% block tabla %}
            {% include 'frontend/carrito/tabla.html' %}
            {% endblock %}

            {% block subtotal %}
            {% include 'frontend/carrito/subtotal.html' %}
            {% endblock %}
        </div>
    </div>
    <!-- Cart End -->
    
{% endblock %}    


