{% extends "frontend/base.html" %}

<!-- 
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/css/bootstrap.min.css" rel="stylesheet">
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/css/css-descripcionproducto.css" rel="stylesheet">
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/lib/animate/animate.min.css" rel="stylesheet">
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/css/footer.css" rel="stylesheet">
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/css/navbar.css" rel="stylesheet">
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/css/popup.css" rel="stylesheet"/>
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/css/login/login.css" rel="stylesheet"/>
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/css/usuario/usuario.css" rel="stylesheet"/>
  -->
    
{% load static %}

{% block content %}

<!-- Shop Start -->
<div class="container-fluid">
    <div class="row px-xl-5">

        {% block filtros %}
        {% include 'frontend/tienda/filtros.html' %}
        {% endblock %}
    
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">

                {% block subnav %}
                {% include 'frontend/tienda/subnav.html' %}
                {% endblock %}

                {% block productos %}
                {% include 'frontend/tienda/productos.html' %}
                {% endblock %}
                
                {% block paginas %}
                {% include 'frontend/tienda/paginas.html' %}
                {% endblock %}
            </div>
        </div>

    </div>
</div>




{% endblock %}