{% load static %}

<!-- PRODUCTOS -->
{% for producto in productos %}
<div class="col-lg-3 col-md-6 col-sm-6 pb-1 wow fadeInUp" data-wow-delay="0.5s">
    <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
            <img class="img-fluid w-100" src="{{ producto.imagen.url }}" alt="" style="width: 200px; height: 250px;">
            <div class="product-action">
                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
            </div>
        </div>
        <div class="text-center py-4">
            <a class="h6 text-decoration-none text-truncate" href="{% url 'producto' id=producto.id %}">{{ producto.nombre }} </a>
            <div class="d-flex align-items-center justify-content-center mt-2">
                <h5>{{ producto.precio }}€</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
            </div>
        </div>
    </div>
</div>

{% endfor %}