{% load static %}

<div class="col">
    <div class="bg-light p-30">
        <div class="nav nav-tabs mb-4">
            <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Mas información</a>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade" id="tab-pane-2">
                <h4 class="mb-3">Información Detallada</h4>
                <p> {{ productos.informacion }} </p>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item px-0">
                                Peso: {{ productos.peso }}
                            </li>
                            <li class="list-group-item px-0">
                                Dimensiones: {{ productos.dimensiones }}
                            </li>
                            <li class="list-group-item px-0">
                                Año: {{ productos.año }}
                            </li>
                            <li class="list-group-item px-0">
                                Estado: {{ productos.estado }}
                            </li>
                          </ul> 
                    </div>  
                </div>
            </div>
            
        </div>
    </div>
</div>