{% extends "frontend/base.html" %}
{% load static %}


<!-- <link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/css/bootstrap.min.css" rel="stylesheet">
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/css/css-descripcionproducto.css" rel="stylesheet">
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/lib/animate/animate.min.css" rel="stylesheet">
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/css/footer.css" rel="stylesheet">
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/css/navbar.css" rel="stylesheet">
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/css/popup.css" rel="stylesheet"/>
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/css/login/login.css" rel="stylesheet"/>
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/css/usuario/usuario.css" rel="stylesheet"/>
  -->
    
{% block content %}

    <!-- Shop Detail Start -->
    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            {% block imagenes %}
            {% include 'frontend/productos/imagenes.html' %}
            {% endblock %}

            {% block informacion %}
            {% include 'frontend/productos/informacion.html' %}
            {% endblock %}
        </div>
        <div class="row px-xl-5">
            {% block detalles %}
            {% include 'frontend/productos/detalles.html' %}
            {% endblock %}
        </div>
    </div>
    <!-- Shop Detail End -->


    <!-- Products Start -->
            {% block carrousel %}
            {% include 'frontend/productos/carrousel.html' %}
            {% endblock %}


{% endblock %}