{% extends "frontend/base.html" %}
{% load static %}

{% block content %}

    <!-- Shop Detail Start -->
    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            {% block imagenes %}
            {% include 'frontend/productos/imagenes.html' %}
            {% endblock %}

            {% block informacion %}
            {% include 'frontend/productos/informacion.html' %}
            {% endblock %}
        </div>
        <div class="row px-xl-5">
            {% block detalles %}
            {% include 'frontend/productos/detalles.html' %}
            {% endblock %}
        </div>
    </div>
    <!-- Shop Detail End -->


    <!-- Products Start -->


{% endblock %}