{% extends "frontend/base.html" %}
{% load static %}

{% block content %}

<section class="pt-150 pb-150 mt-5 mr-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 m-auto">
                <div class="row">

                    <div class="col-md-4">
                    {% block sidebar %}
                    {% include 'frontend/usuario/sidebar.html' %}
                    {% endblock %} 
                    </div>

                    <div class="col-md-8">
                        <div class="tab-content dashboard-content fs-5">
                            {% block panel %}
                            {% include 'frontend/usuario/panel.html' %}
                            {% endblock %} 

                            {% block pedidos %}
                            {% include 'frontend/usuario/pedidos.html' %}
                            {% endblock %} 

                            {% block tracking %}
                            {% include 'frontend/usuario/tracking.html' %}
                            {% endblock %} 

                            {% block direcciones %}
                            {% include 'frontend/usuario/direcciones.html' %}
                            {% endblock %} 

                            {% block micuenta %}
                            {% include 'frontend/usuario/micuenta.html' %}
                            {% endblock %} 

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
