{% load static %}

<div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">¡Hola (User)! </h5>
        </div>
        <div class="card-body">
            <p>Este es tu panel de administración. Desde aqui podrás gestionar tus <a href="#">pedidos</a>, añadir tu <a href="#">dirección de envío y facturación</a> y <a href="#">modificar tus datos de usuario.</a></p>
        </div>
    </div>
</div>