{% load static %}

<div class="container d-flex">
    <div class="col-xs-6 col-md-4 col-lg-4" style="padding: 0;">
        <div>
            <a href="#" rel="nofollow">
                <img src="{% static 'img/icon/icono-envios.svg'%}" alt="Envíos a toda la península" loading="lazy" width="90" height="50.625" />
            </a>
            <div style="text-align: center;">
                <span style="display: block;">ENVÍOS</span>
                <p>Nacionales e Internacionales</p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-4" style="padding: 0;">
        <div>
            <a href="#" rel="nofollow">
                <img src="{% static 'img/icon/icono-Pagoseguro.svg'%}" alt="Pago seguro" loading="lazy" width="90" height="50.625" />
            </a>
            <div style="text-align: center;">
                <span style="display: block;">PAGO SEGURO</span>
                <p>Su compra segura</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-4" style="display: block; overflow: hidden; padding: 0;">
        <div>
            <img src="{% static 'img/icon/icono-Atcliente.svg'%}" alt="Atención al cliente" loading="lazy" width="90" height="50.625" />
            <div style="text-align: center;">
                <span>ATENCIÓN AL CLIENTE</span>
                <p id="tel-atencion">
                    <a href="tel:0034958 41 60 45" rel="nofollow noopener" class="gtm_phone">958 41 60 45</a> - 
                    <a href="tel:0034672 265 265" rel="nofollow noopener" class="gtm_phone">672 265 265</a>
                </p>
            </div>
        </div>
    </div>
</div>
