{% load static %}

<div id="login" class="modal popupContentWrapper">
  <div class="popup-content">
    <span onclick="toggleModal('login')" class="close">&times;</span>

    <form class="loginForm" action="{% url 'inicio-sesion' %}" method="POST" id="form-login">
      {% csrf_token %}
      <h6>Correo Electrónico</h6>
      <div class="loginInputBox">
        {{login_form.username}}
        <i class="fas fa-envelope icon" id="username"></i>
      </div>

      <h6>Contraseña</h6>
      <div class="loginInputBox">
        {{login_form.password}}
        <i class="fas fa-key icon" id="password"></i>
      </div>
      <input type="submit" value="Iniciar Sesión" class="button bg-primary text-dark">
    </form>

    <div class="loginOptions mt-3">
      <span class="registerLink">¿Aún no te has registrado? <a href="#" style="color:blue">Regístrate aqui</a>.</span>
      <br>
      <span class="forgotPasswordLink">¿Olvidaste la contraseña? <a href="#" style="color:blue">Restablecer</a>.</span>
    </div>
  </div>
</div>
