<div id="reset" class="modal popupContentWrapper" style="display:none;">
  <div class="popup-content">
    <span onclick="toggleModal('reset')" class="close">&times;</span>

    <form class="resetForm" action="{% url 'reset-password' %}" method="POST" id="form-reset">
      {% csrf_token %}
      <h6>Correo Electrónico</h6>
      <div class="resetInputBox">
        {{ form_reset.email }}
        <i class="fas fa-envelope icon"></i>
      </div>
      <input type="submit" value="Restablecer Contraseña" class="button bg-primary text-dark">
    </form>
  </div>
</div>