{% load static %}

<div class="container-fluid bg-light overflow-hidden px-lg-0 mt-5">
    <div class="container-fluid about px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-7 ps-lg-0 wow fadeIn" data-wow-delay="0.1s" style="min-height: 200px;">
                <div class="h-100 d-flex align-items-center">
                    <img src="{% static 'img/ernest-portada.jpeg'%}" alt="Imagen" style="object-fit: cover; display: block; max-width: 100%; height: auto;">
                </div>
            </div>
            <div class="col-lg-5 about-text py-5 pr-4 wow fadeIn" data-wow-delay="0.5s">
                <div class="">
                    <h6 class="text-dark">SOBRE NOSOTROS</h6>
                    <h3 class="mb-2">Conectando Artistas y Amantes del Arte"</h3>
                    <p class="text-justify mb-0">Bienvenido a nuestro marketplace de obras de arte, el lugar donde la creatividad se encuentra con el mundo. Somos un equipo apasionado, amantes del arte cuyo objetivo es crear un espacio único donde artistas y aficionados puedan conectarse, descubrir y adquirir obras de arte excepcionales.</p>
                    <br>
                    <p class="text-justify mb-2">Nuestro objetivo es crear una experiencia fluida y agradable tanto para los artistas como para los compradores. Trabajamos arduamente para seleccionar cuidadosamente las obras de arte que se presentan en nuestro marketplace, asegurándonos de que cada pieza refleje calidad, originalidad y pasión.</p>
                    <p style="margin-bottom: 0.5rem;"><i class="fa fa-check-circle text-primary me-3"></i>Experiencia segura y transparente</p>
                    <p style="margin-bottom: 0.5rem;"><i class="fa fa-check-circle text-primary me-3"></i>Amplia selección de obras de arte</p>
                    <p style="margin-bottom: 0.5rem;"><i class="fa fa-check-circle text-primary me-3"></i>Asesoramiento y orientación especializada</p>
                    <a href="" class="btn btn-primary rounded-pill py-3 px-3 mt-2" style="line-height: 0;">Ir a la tienda</a>
                </div>
            </div>
        </div>
    </div>
</div>
