{% load static %}

<!-- Container1 Start -->
<div class="container-fluid overflow-hidden px-lg-0 mt-3">
    <div class="container-fluid about px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 ps-lg-0 wow fadeIn" data-wow-delay="0.4s" style="min-height: 200px;">
                <div class="h-100 d-flex align-items-center">
                    <img src="{% static 'img/ernest-portada.jpeg'%}" alt="Imagen" style="object-fit: cover; display: block; max-width: 100%; height: auto;">
                </div>
            </div>
            <div class="col-lg-6 about-text py-5 pr-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="">
                    <h6 class="text-dark">SOBRE NOSOTROS</h6>
                    <h3 class="mb-2">"Conectando Artistas y Amantes del Arte"</h3>
                    <p class="text-justify mb-0">Bienvenido a nuestro marketplace de obras de arte, el lugar donde la creatividad se encuentra con el mundo. Somos un equipo apasionado, amantes del arte cuyo objetivo es crear un espacio único donde artistas y aficionados puedan conectarse, descubrir y adquirir obras de arte excepcionales.</p>
                    <br>
                    <p class="text-justify mb-2">Nuestro objetivo es crear una experiencia fluida y agradable tanto para los artistas como para los compradores. Trabajamos arduamente para seleccionar cuidadosamente las obras de arte que se presentan en nuestro marketplace, asegurándonos de que cada pieza refleje calidad, originalidad y pasión.</p>
                    <p style="margin-bottom: 0.5rem;"><i class="fa fa-check-circle text-primary me-3"></i>Experiencia segura y transparente</p>
                    <p style="margin-bottom: 0.5rem;"><i class="fa fa-check-circle text-primary me-3"></i>Amplia selección de obras de arte</p>
                    <p style="margin-bottom: 0.5rem;"><i class="fa fa-check-circle text-primary me-3"></i>Asesoramiento y orientación especializada</p>
                    <a href="" class="btn btn-primary rounded-pill py-3 px-3 mt-2" style="line-height: 0;">Ir a la tienda</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container1 End -->

<!-- Container2 Start -->
<div class="container-fluid overflow-hidden my-3 px-lg-0">
    <div class="container-fluid feature px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-7 feature-text wow fadeIn" data-wow-delay="0.4s">
                <div class="p-lg-3 ps-lg-0">
                    <h6 class="text-dark">NUESTROS VALORES</h6>
                    <h3 class="mb-4">"Comprometidos con la comunidad artística"</h3>
                    <p class="text-justify mb-0">Creemos firmemente en el poder del arte para inspirar, transformar y enriquecer nuestras vidas. Nos esforzamos por promover la diversidad y la expresión artística, brindando a artistas emergentes y establecidos una plataforma para mostrar su talento y conectar con una audiencia global.</p>
                    <br>
                    <p class="text-justify mb-0">Valoramos profundamente la autenticidad y la transparencia en todas nuestras transacciones. Cada obra de arte que encuentres en nuestro marketplace está respaldada por una descripción detallada, imágenes de alta calidad y la posibilidad de contactar directamente con el artista para obtener más información. Nos esforzamos por establecer una relación de confianza y satisfacción mutua entre artistas y compradores.</p>
                    <br>
                    <p class="text-justify mb-0">Además, organizamos eventos, exposiciones y colaboraciones especiales para promover el arte y fomentar el diálogo entre artistas, coleccionistas y entusiastas. Queremos ser el punto de encuentro donde los amantes del arte puedan descubrir nuevas voces, explorar diferentes estilos y apoyar el talento creativo.</p>
                    <br>
                    <p class="text-justify mb-0">Gracias por unirte a nosotros en esta emocionante aventura artística. Estamos encantados de compartir contigo nuestro marketplace y esperamos que encuentres inspiración, belleza y un sentido de conexión a través del arte que descubras aquí. Si tienes alguna pregunta o necesitas ayuda, no dudes en ponerte en contacto con nuestro equipo dedicado.</p>
                    <br>
                    <p class="text-justify mb-0">¡Explora, descubre y adquiere arte único en nuestro marketplace de obras de arte!</p>

                </div>
            </div>
            <div class="col-lg-5 pe-lg-0 wow fadeIn" data-wow-delay="0.5s" >
                <div class="position-relative h-100">
                    <img src="{% static 'img/ernest-piano.jpeg'%}" alt="Imagen" style="object-fit: cover; display: block; max-width: 100%; height: auto;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container2 End -->
