{% load static %}


<!-- <link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/css/bootstrap.min.css" rel="stylesheet">
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/css/css-descripcionproducto.css" rel="stylesheet">
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/lib/animate/animate.min.css" rel="stylesheet">
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/css/footer.css" rel="stylesheet">
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/css/navbar.css" rel="stylesheet">
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/css/popup.css" rel="stylesheet"/>
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/css/login/login.css" rel="stylesheet"/>
<link href="file:///home/user/Documentos/GitHub/tienda-online/tienda-online/templates/static/css/usuario/usuario.css" rel="stylesheet"/>
  -->
  <!-- <link href="{% static 'css/frontend/inicio/servicios.css' %}" rel="stylesheet"/> -->
    
<div class="container-fluid d-flex my-3">
    <div class="col-xs-4 col-md-4 col-lg-4" style="padding: 0;">
        <div style="text-align: center;">
            <a href="#" rel="nofollow">
                <img class="mb-3" src="{% static 'img/icon/icono-envios.svg'%}" alt="Envíos a toda la península" loading="lazy" width="90" height="50.625" />
            </a>
            <div>
                <span><strong>ENVÍOS</strong></span>
                <p class="mb-0">Nacionales e Internacionales</p>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4" style="padding: 0;">
        <div style="text-align: center;">
            <a href="#" rel="nofollow">
                <img class="mb-3" src="{% static 'img/icon/icono-Pagoseguro.svg'%}" alt="Pago seguro" loading="lazy" width="90" height="50.625" />
            </a>
            <div>
                <span><strong>PAGO SEGURO</strong></span>
                <p class="mb-0">Su compra segura</p>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4" style="padding: 0;">
        <div style="text-align: center;">
            <img class="mb-3" src="{% static 'img/icon/icono-Atcliente.svg'%}" alt="Atención al cliente" loading="lazy" width="90" height="50.625" />
            <div>
                <span><strong>ATENCIÓN AL CLIENTE</strong></span>
                <p class="mb-0">Llámanos sin compromiso</p>
            </div>
        </div>
    </div>
</div>


